
.link-unstyled {
  text-decoration: none;
  /* Elimina el subrayado */
  color: inherit;
  /* Usa el color heredado (generalmente, el color predeterminado) */
}

.center-button {
  text-align: center;
  
} 


.product-button {
  text-align: center;
  padding: 5px;
  padding-top: 3px;

}

/* Estilos para el botón de mostrar contraseña */
.show-password-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

/* Estilos para el contenedor de calificación */
.star-rating-container {
  display: flex;
  flex-direction: column;
  /* Organiza los elementos verticalmente */
  align-items: center;
  /* Alinea horizontalmente en el centro */
}

/* Estilos para el título de calificación */
.star-rating-title {
  margin-bottom: 10px;
  /* Espacio entre el título y las estrellas */
  font-weight: bold;
  /* Estilo adicional para el título si es necesario */
}

/* Estilos para la selección de categorías y marcas */
.Seleccion {
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 10px;
  /* Aumenta el espacio de selección */

  
  
}

.Seleccion:hover {
   background-color: #28a745;
  color: #fff;
  transition: color 0.3s ease; /* Transición suave del color */
}

/* Estilos para los botones de búsqueda y agregar */
/* Estilos para pantallas pequeñas (menos de 768px de ancho, ajusta este valor según sea necesario) */
.show-button-container {
  position: relative; /* Ajusta el contenedor a posición relativa */
 
}
.show-button,
.show-button1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.show-button {
  right: 75px;
  width: 46px;
  height: 46px;
  background-color: #28a745;
  border-color: #28a745;
}

.show-button1 {
  right: 15px;
  width: 46px;
  height: 46px;
  background-color: #28a745;
  border-color: #28a745;
}

.show-button:hover,
.show-button1:hover {
  background-color: #218838; /* Cambia el color de fondo al pasar el mouse */
  border-color: #218838; /* Cambia el color del borde al pasar el mouse */
}


.show-button-search{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.show-button-add {
  width: 56px;
  height: 56px;
  z-index: 2; 
}

/* Estilos para el centro del contenido */
.centrado {
  text-align: center;
}

/* Estilos para el título del formulario */
.title {
  text-align: center;
  border-bottom: 4px solid #28a745;
  padding-bottom: 5px;
  font-weight: bold;
}

/* Agrega un estilo específico para pantallas pequeñas */
@media (max-width: 767px) {
  .button-container {
    display: flex;
    flex-direction: column; /* Coloca los botones en una columna */
    align-items: flex-start; /* Alinea los botones a la izquierda */
  }

  .button-container .actualizar {
    margin-bottom: 5px; /* Ajusta el espacio entre los botones */

  }
}

.actualizar{
  margin-right: 8px;
    
}

/* Estilos específicos para el formulario de Producto */
.form-section {
  margin-bottom: 20px;
  /* Agrega espacio entre secciones */
}

.form-label {
  font-weight: bold;
  /* Estilo para etiquetas de formulario */
}

.custom-file-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  cursor: pointer;
}

.custom-file-label::after {
  content: "Seleccionar";
}

.auto-expand-textarea {
  min-height: 60px;
  /* Establece una altura mínima */
  overflow: hidden;
  /* Oculta el desbordamiento de contenido */
  resize: none;
  /* Desactiva la redimensión manual del usuario */
}

/* Estilos para el contenedor del catálogo de productos */
.margen-contenedor {
  margin-top: 20px;
}

/* Estilos para las tarjetas de producto */
.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Estilos para la imagen del producto */
.image-card {
  width: 70%;
  /* Ajusta el ancho de la imagen al 70% del contenedor */
  height: 250px;
  /* Altura fija para evitar imágenes distorsionadas */
  object-fit: cover;
  /* Escala la imagen para cubrir todo el contenedor sin distorsionarla */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 auto;
  /* Centra la imagen horizontalmente */
}

/* Estilos para el título del producto */
.product-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

/* Estilos para la descripción del producto */
.product-card .card-text {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

/* Estilos para las insignias (badges) */
.product-card .badge {
  margin-right: 5px;
}

/* Estilos para el enlace de "Comprar" */
.product-card .card-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.product-card .card-link:hover {
  color: #0056b3;
}

/* Estilos para el precio */
.product-card {
  text-align: center;
  /* Centra el precio */
  font-size: 1.5rem;
  /* Tamaño de letra más grande para el precio */
  color: black;
  /* Color de texto negro */
  background-color: transparent;
  /* Fondo transparente */
  display: block;
  /* Mostrar en bloque para centrar */
  margin-top: 10px;
  /* Espacio superior después de la descripción */
}

.product-price {
  font-size: 1.5rem;
  /* Tamaño de letra más grande para el precio */
  text-align: center;
  /* Centra el precio */
  margin-top: 10px;
  /* Espacio superior después de la descripción */
}

.product-description {
  font-size: 0.9rem;
  margin-bottom: 15px;
  text-align: center;
}

.product-card .btn {
  display: block;
  margin: 0 auto;
  color: white;
}

.product-card .btn.btn-primary:hover {
  color: white;
}

.global-margin-top-history{
  margin-top: 4rem;
  align-items: center;
  display: flex;
  justify-content: center;

}


.global-margin-top {
  margin-top: 6rem;
  
}

.global-margin-top-compra {
  margin-top: 6rem;
}


.margin-top-search{
  margin-top: 4rem;

}

.title-nombre {
  text-align: center;
}

.search-styles {
  margin-top: 3rem;
  width: 307%;


}


.card-styles {
  margin-top: 3rem;
  width: 100%;


}

.input-size {
  min-height: 57px;
  /* Establece una altura mínima */
  overflow: hidden;
  /* Oculta el desbordamiento de contenido */
  resize: none;


}

.input-align {
  align-items: end;


}


/* Agrega estas reglas para la clase 'centered-inputs' */
.centered-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-inputs .mb-3 {
  margin-bottom: 1rem;
  /* Puedes ajustar el valor según el espacio que desees entre los elementos */
}

.buttom-right{
  margin-right: 5px;

}

.buttom-left{
  margin-left: 5px;
}


.buttom-space1{
  margin-top: 20px;

}

.container-top{
  margin-top: -25px;

}

.search-input{
  margin-right: 10px;
  margin-left: 10px;
}

/* Estilo básico para la barra de navegación */
.navbar-color {
  background-color: #343a40; /* Color de fondo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Cambiar el color de texto y la fuente */
.navbar-brand,
.navbar-nav .nav-link {
  color: #ffffff; /* Color del texto */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente */
  font-size: 16px; /* Tamaño del texto */
}

/* Estilo para el botón del menú en dispositivos móviles */
.navbar-toggler-icon {
  background-color: #ffffff; /* Color del icono del botón del menú */
}

/* Estilo para el botón "Menú" */
.btn-menu {
  color: #ffffff;
  border-color: #ffffff;
}

/* Estilo para los enlaces */
.link-unstyled {
  color: #ffffff; /* Color del texto del enlace */
  transition: color 0.3s ease; /* Transición suave del color */
}

.link-unstyled:hover {
  color: #28a745; /* Cambio de color al pasar el mouse */
}

/* Estilo para los dropdowns */
.navbar-nav .nav-item.dropdown:hover .nav-link {
  color: #28a745; /* Cambio de color al pasar el mouse */
}

/* Estilo para el fondo del dropdown */
.dropdown-menu {
  background-color: #343a40; /* Color de fondo del dropdown */
  border: 1px solid #28a745; /* Borde del dropdown */
}

/* Estilo para los enlaces dentro del dropdown */
.dropdown-menu .dropdown-item {
  color: #ffffff;
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.dropdown-menu .dropdown-item:hover {
  background-color: #28a745; /* Cambio de color de fondo al pasar el mouse */
}


.button-color,
.button-color:hover {
  background-color: #218838; /* Cambia el color de fondo al pasar el mouse */
  border-color: #218838; /* Cambia el color del borde al pasar el mouse */

}

.button-color{
  background-color: #28a745;
  
}





