.navbar-color {
  background-color: #0e3ad8; /* Color de fondo personalizado */
}

.link-unstyled {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Usa el color heredado (generalmente, el color predeterminado) */
}

.center-button {
  text-align: center;
}

.product-button{
  text-align: center;
  padding: 5px;
  padding-top: 3px;
}

.show-password-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.star-rating-container {
  display: flex;
  justify-content: center;
}

